.Homepage_title{
    text-align: center;
    font-size: 100px;
    background: linear-gradient(45deg, #FFA500, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
  
.search_bar {
    margin-bottom: 20px;
}
  
.search_bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.PostsContainer {
    margin-top: 20px;
}
  
.NoPostsMessage {
    font-size: 18px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}